html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(230,230,230);
}

header {
    padding: 3rem 2rem;
    background-color: #281E5D;
    color: white;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

nav{
    list-style: none;
    background-color: #414951;
    max-width: 100%;
    margin: auto;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.barra1 li {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 15px 20px;
    height: 100%;
    margin-top: 0px;
}

.barra1{
    margin-top: -200px;
}

.barra1 li a {
    font-size: 17px;
    text-decoration: none;
    color: white;
    display: block;
}

.barra1 li:hover {
    background-color: #281E5D;
    cursor: pointer;
}

.contenedor1 {
    width: 80%;
    margin: 0 auto;
}

.imagen1 {
    margin: 20px 0px 20px 0px;
    width: 800px;
    text-align: center;
}

body section article h2 {
    color: #281E5D;
}

body section article h3 {
    color: #3C3C3C;
}

body section article p {
    text-align: justify;
    font-size: 18px;
}

.video1, .audio1 {
    width: 800px;
}

footer {
    background-color: #202020;
    padding: 3rem;
    color: white;
}

footer section {
    float: right;
}

footer a {
    color: white;
    text-decoration: none;
    transition: color 1.3s ease;
    font-size: 14px;
}

footer a:hover {
    cursor: pointer;
    color: #616161;
}

footer p {
    margin: 0;
}


.barra1{
    display: flex;
    align-items: center;
}

.barra1 div{
    display: flex;
    justify-content: end;
    margin-left: 350px;
}

nav div button{
    padding: 0px 5px;
    margin-right: 15px;
    color: white;
    border: solid white 1px;
    padding: 8px 13px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
}

nav div button:hover{
    background-color: #4935ac;
    cursor: pointer;
}

.barra1{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 950px){
    nav{
        display: block;
        height: 100px;
        justify-content: center;
        align-items:flex-start;
        justify-content: center;
    }

    nav ul{
        display: flex;
        justify-content: center;
    }

    .btn-sesion{
        display: flex;
        justify-content: center;
        margin-top: 8px;
    }
}